{% extends "./base.html" %}

{% block content %}

    <h1 class="mx-auto w-50 mb-4">{{ quiz.video_game_title }}</h1>

    <div class="card shadow-sm mx-auto w-50" id="card_fragment">
        <div class="card-body">
            <p class="card-text">{{ question.question_text }}</p>
            <form method="POST" action="/quiz/{{quiz.quiz_id}}/answer">
                {% csrf_token %}
                <input type="hidden" name="quiz_id" value="{{quiz.quiz_id}}" />
                <input type="hidden" name="question_id" value="{{question.question_id}}" />
                {% for answer in answers %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="answer_id" id="option{{forloop.counter}}" value="{{ answer.answer_id}}" required>
                    <label class="form-check-label" for="option{{forloop.counter}}">
                        {{forloop.counter}}) {{ answer.answer_text }}
                    </label>
                </div>
                {% endfor %}

                <div class="card-footer d-flex justify-content-between align-items-center mt-3">
                    <button class="btn btn-primary">Submit</button>
                    <span class="text-muted">Question {{current_question}} of {{total_questions}}</span>
                </div>
            </form>
        </div>
    </div>


{% endblock %}
